<!-- Start of navigation -->
<nav class="navigation" role="navigation">
  <section class="layout">
      <ul class="nav">
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About us</a></li>
          <li><a href="speakers.html">Speakers</a></li>
          <li><a href="sponsors.html">Sponsors</a></li>
          <li><a href="contact.html">Contact us</a></li>
      </ul><!-- end of nav ul -->
  </section><!-- end of navigation layout section -->
</nav><!-- end of navigation  nav -->
<!-- End of navigation -->