<!-- Start of primary content -->
<div class="primary">

    <article id="nextmeeting">
        <h1><i class="icon-calendar"></i> Next meeting</h1>
        <a href="#"><img src="_/images/misc/hotel_gwendoline.jpg">
        </a>
        <p>Our next meeting will be Thursday, August 22nd, 6-9pm at Hotel Guendoline. <a href="http://maps.google.com">456  Elm Street Boulevard in Downtown Seattle</a>
        </p>
    </article>
    <!-- end of nextmeeting article -->

    <article id="whoarewe">
        <h1>Who are we?</h1>
        <p>The Roux Academy gets thousands of submissions every year for artists interesting in participating in the CAC exhibits, and selects approximately 200 distinct pieces of contemporary art for display in their collective exhibit. In addition, 12 individuals are honored as Featured Artists - each being granted his or her own exhibit hall to display entire collections or themed pieces.</p>

        <p>Each Featured Artist has an opportunity to speak at one of our meetups and share his or her vision, perspective, and techniques with attendees on a more personal level than at our large conference. It is truly an honor to be a CAC Featured Artist and many past students artists who were featured at CAC have gone on to brilliant careers in art.</p>
    </article>
    <!-- end of whoarewe article -->

    <article id="getbusy">
        <h1>Get Busy!</h1>
        <p>If you want to keep up with what's going on with the group, <a href="http://www.meetup.com">join our meetup group</a>, <a href="http://www.twitter.com">follow us on twitter</a> or sign up for our email list on the sidebar to the right. If you're in FaceBook, you can also <a href="http://www.facebook.com">join our FaceBook group</a>.</p>
    </article>
    <!-- end of getbusy article -->

    <article id="whoshouldcome">
        <h1>Who should come?</h1>
        <ul>
            <li>Anybody interested in art and the creative industry</li>
            <li>Painters, sculptors, photographers and graphic artists</li>
            <li>Those interested in meeting and making a connection with others in the local art scene.</li>
        </ul>
    </article>
    <!-- end of whoshouldcome article -->

</div>
<!-- end of primary div -->
<!-- End of primary content -->
