<!-- Start of secondary content -->
<aside class="secondary" id="artwork">

    <article id="artistlist">
        <h1>Artwork on display</h1>
        <p>While you attend the conference, head over to our Gallery where you can check out some of the work from our speakers.</p>
        <div class="pixgrid">
            <img src="_/images/artwork/Hillary_Goldwynn/thumbnails/Hillary_Goldwynn_02_tn.jpg" alt="Artwork 02 from Hillary_Goldwynn">
            <img src="_/images/artwork/Hillary_Goldwynn/thumbnails/Hillary_Goldwynn_03_tn.jpg" alt="Artwork 03 from Hillary_Goldwynn">
            <img src="_/images/artwork/Hillary_Goldwynn/thumbnails/Hillary_Goldwynn_05_tn.jpg" alt="Artwork 05 from Hillary_Goldwynn">
            <img src="_/images/artwork/Hillary_Goldwynn/thumbnails/Hillary_Goldwynn_06_tn.jpg" alt="Artwork 06 from Hillary_Goldwynn">
            <img src="_/images/artwork/Hillary_Goldwynn/thumbnails/Hillary_Goldwynn_07_tn.jpg" alt="Artwork 07 from Hillary_Goldwynn">
            <img src="_/images/artwork/Lorenzo_Garcia/thumbnails/Lorenzo_Garcia_01_tn.jpg" alt="Artwork 01 from Lorenzo_Garcia">
            <img src="_/images/artwork/Lorenzo_Garcia/thumbnails/Lorenzo_Garcia_02_tn.jpg" alt="Artwork 02 from Lorenzo_Garcia">
            <img src="_/images/artwork/Lorenzo_Garcia/thumbnails/Lorenzo_Garcia_03_tn.jpg" alt="Artwork 03 from Lorenzo_Garcia">
            <img src="_/images/artwork/Lorenzo_Garcia/thumbnails/Lorenzo_Garcia_04_tn.jpg" alt="Artwork 04 from Lorenzo_Garcia">
            <img src="_/images/artwork/Riley_Rewington/thumbnails/Riley_Rewington_03_tn.jpg" alt="Artwork 03 from Riley_Rewington">
            <img src="_/images/artwork/Riley_Rewington/thumbnails/Riley_Rewington_04_tn.jpg" alt="Artwork 04 from Riley_Rewington">
            <img src="_/images/artwork/Riley_Rewington/thumbnails/Riley_Rewington_06_tn.jpg" alt="Artwork 06 from Riley_Rewington">
        </div>
    </article>
    <!-- end of artistlist article -->

    <article id="mailinglist">
        <h1>Join our mailing list</h1>
        <p>Get notifications of our meetings and events. Sign up to our Mailing list.</p>
        <form id="emailsignup">
            <input name="name" placeholder="Your name">
            <input name="email" placeholder="Email Address">
            <div>
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
            </div>
        </form>
    </article>
    <!-- end of mailinglist article -->

    <article id="parking">
        <h1>Parking</h1>
        <p>Parking is available in many places throughout the Downtown area. Click <a href="#">here</a> for a map.</p>
    </article>
    <!-- end of parking article -->

</aside>
<!-- end of secondary aside -->
<!-- End of secondary content -->
