<!-- Start of speakers -->
<div class="speakerslist" id="speakers">
    <section class="layout">
      <h1>Speaking at Next Meeting</h1>
      <div class="speakers">
        <article class="artist">
          <h3>Art in Full Bloom<span class="small"> with <a href="#">Lorenzo Garcia</a></span></h3>
          <p><a href="#"><img class="speaker" src="_/images/speakers/thumbnails/Lorenzo_Garcia_tn.jpg" alt="Photo of Lorenzo Garcia"></a></p>
          <p>Drawing and painting flowers may seem like a first-year art student's assignment, but Lorenzo Garcia brings depth, shadows, light, form and color to new heights with his unique and revolutionary technique of painting on canvas with ceramic glaze. This session is sure to be a hit with mixed media buffs.</p>                
        </article><!-- artist -->

        <article class="artist">
          <h3>Deep Sea Wonders<span class="small"> with <a href="#">Hilary Goldywynn Post</a></span></h3>
          <p><a href="#"><img class="speaker" src="_/images/speakers/thumbnails/Hillary_Goldwynn_tn.jpg" alt="Photo of Hillary Goldwynn"></a></p>
          <p>Hillary is a sophomore art sculpture student at New York University, and has won the major international prizes for painters, including the Divinity Circle and the International Painter's Medal. Hillary's exhibit features paintings that contain only water including waves, deep sea, and river.</p>
        </article><!-- artist -->

        <article class="artist">
          <h3>The Art of Abstract<span class="small"> with <a href="#">Riley Rudolph Rewington</a></span></h3>
          <p><a href="#"><img class="speaker" src="_/images/speakers/thumbnails/Riley_Rewington_tn.jpg" alt="Photo of Riley Rewington"></a></p>
          <p>The leader of the MMA artistic movement in his hometown of Portland, Riley Rudolph Rewington draws a crowd wherever he goes. Mixing street performance, video, music, and traditional art, Riley has created some of the most unique and deeply poignant abstract works of his generation.</p>
        </article><!-- artist -->
      </div><!-- end of speakers div -->
    </section><!-- end of speakers layout section -->
</div><!-- end of speakerslist div -->
<!-- End of speakers -->